.inicio{
    background-image: url(https://github.com/TheSift01/pagina_de_emuladores/blob/main/imagenes/imagen%20fondo.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
